<html (mousemove)="onMove()">

  <table>
 <tr>
    <td><label>Nome </label></td>
    <td><input [(ngModel)]="aluno.nome" ></td>
    <td><button (click)="criarAluno(aluno)">Adicionar</button></td>
 </tr>
 <tr>
    <td><label>CPF </label></td>
    <td><input [(ngModel)]="aluno.cpf" ></td>
    <td *ngIf="cpfduplicado">
      Já existe um aluno com esse CPF
    </td>
 </tr>
 <tr>
    <td><label>e-mail </label></td>
    <td><input [(ngModel)]="aluno.email" ></td>
 </tr>
 </table>

  <table>
 <tr *ngIf="alunos.length > 0">
    <th>Nome</th>
    <th>CPF</th>
    <th>e-mail</th>
 </tr>
 <tr *ngFor="let a of alunos">
    <td>{{a.nome}}</td>
    <td>{{a.cpf}}</td>
    <td>{{a.email}}</td>
 </tr>
 </table>

  </html>