
<html>

  <head>
    <title>Teaching Assistant</title>
  </head>
  
  <body>

    <h1>Teaching Assistant</h1>

    <nav>
        <ul>
          <li><a name ='turmas' routerLink='/turmas'>Turma</a></li>
          <li><a name ='alunos' routerLink='/alunos'>Alunos</a></li>
          <li><a name ='roteiros' routerLink='/roteiros'>Roteiros</a></li>
          <li><a name ='auto-avaliacao' routerLink='/auto-avaliacao'>Auto-avaliacao</a></li>
          <li><a name ='metas' routerLink='/metas'>Metas</a></li>
        </ul>
    </nav>
  </body>
  

  <router-outlet></router-outlet>
</html>
