<h1>
  Teaching Assistant
</h1>

<h2>
  Alunos
</h2>

<table>
<tr>
   <td><label>Nome </label></td>
   <td><input [(ngModel)]="aluno.nome" ></td>
   <td><button (click)="gravar(aluno)">Adicionar</button></td>
</tr>
<tr>
   <td><label>GitHub </label></td>
   <td><input [(ngModel)]="aluno.git" ></td>
</tr>
<tr>
   <td><label>CPF </label></td>
   <td><input [(ngModel)]="aluno.cpf" ></td>
</tr>
<tr>
   <td><label>e-mail </label></td>
   <td><input [(ngModel)]="aluno.email" ></td>
</tr>
</table>

<ul>
<li *ngFor="let a of alunos">
    <span>{{a.nome}}</span>,
    <span>{{a.cpf}}</span>,
    <span>{{a.email}}</span>
</li>
</ul>
