<html (mousemove)="onMove()">

<table>
<tr>
   <td><label>Nome Profissional</label></td>
   <td><input [(ngModel)]="aluno.nome" ></td>
   <td><button (click)="criarAluno(aluno)">Adicionar Profissional</button></td>
</tr>
<tr>
   <td><label>CPF </label></td>
   <td><input [(ngModel)]="aluno.cpf" ></td>
   <td *ngIf="cpfgitduplicado">
     Já existe um profissional com esse CPF.
   </td>
</tr>
<tr>
   <td><label>e-mail </label></td>
   <td><input [(ngModel)]="aluno.email" ></td>
</tr>
</table>

<table>
<tr *ngIf="alunos.length > 0">
   <th>Nome</th><br>
   <th>CPF</th><br>
   <th>e-mail</th><br>
</tr>
<tr *ngFor="let a of alunos">
   <td>{{a.nome}}</td><br>
   <td>{{a.cpf}}</td><br>
   <td>{{a.email}}</td><br>
   <td><button (click)="removerAluno(a)">Demitir</button></td>
   <td><button (click)="algo">Detalhes</button></td>
</tr>
</table>

</html>
