th {
    background-color: #ff3333;
    color: #ffffff;
  }
  
  td, th {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
    background-color: #cce6ff;
  }
  
  .autoAvaliacao {
    text-align: center;
    width: 20px;
  }
  
  .autoAvaliacao input {
    border: none;
    width: 40px;
  }
  