<table>
    <tr>
       <td><label>Nome </label></td>
       <td><input [(ngModel)]="aluno.nome" name="nameinput"></td>
    </tr>
    <tr>
       <td><label>CPF </label></td>
       <td><input [(ngModel)]="aluno.cpf" name="cpfinput"></td>
    </tr>
    <tr>
        <td><button (click)="localizarAluno(aluno)">Entrar</button></td>        
    </tr>
    </table>
<table *ngIf="cpfexiste">
    <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>e-mail</th>
        <th>Conceitos Requisitos</th>
        <th>Especificar Requisitos</th>
        <th>Conceitos Gerência</th>
        <th>Testes</th>
    </tr>
    <tr name="avaliacaolist">
        <td>{{aluno.nome}}</td>
        <td>{{aluno.cpf}}</td>
        <td>{{aluno.email}}</td>
        <td class="avaliacao"><input [(ngModel)]="a.avaliacao['conceitosReq']" (change)="atualizarAluno(a)"></td>
        <td class="avaliacao"><input [(ngModel)]="a.avaliacao['especificarReq']" (change)="atualizarAluno(a)"></td>
        <td class="avaliacao"><input [(ngModel)]="a.avaliacao['conceitosGer']" (change)="atualizarAluno(a)"></td>
        <td class="avaliacao"><input [(ngModel)]="a.avaliacao['testes']" (change)="atualizarAluno(a)"></td>
        
    </tr>
</table>
