<table>
    <tr>
       <td><label>Nome </label></td>
       <td><input [(ngModel)]="nome"></td>
    </tr>
    <tr>
       <td><label>CPF </label></td>
       <td><input [(ngModel)]="cpf"></td>
    </tr>
    <tr>
        <td><button (click)="localizarAluno(nome, cpf)">Entrar</button></td>        
    </tr>
</table>

<table *ngIf="cpfexiste">
    <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>e-mail</th>
        <th>Conceitos Requisitos</th>
        <th>Especificar Requisitos</th>
        <th>Conceitos Gerência</th>
        <th>Testes</th>
    </tr>
    <tr>
        <td>{{aluno.nome}}</td>
        <td>{{aluno.cpf}}</td>
        <td>{{aluno.email}}</td>
        <td class="avaliacao"><input [(ngModel)]="aluno.avaliacao['conceitosReq']" (change)="atualizarAluno(aluno)"></td>
        <td class="avaliacao"><input [(ngModel)]="aluno.avaliacao['especificarReq']" (change)="atualizarAluno(aluno)"></td>
        <td class="avaliacao"><input [(ngModel)]="aluno.avaliacao['conceitosGer']" (change)="atualizarAluno(aluno)"></td>
        <td class="avaliacao"><input [(ngModel)]="aluno.avaliacao['testes']" (change)="atualizarAluno(aluno)"></td>
        
    </tr>
</table>
