<table>
    <tr>
        <td><label>Nome </label></td>
        <td><input [(ngModel)]="roteiro.descricao" name="namebox"></td>
        <td><button (click)="criarRoteiro(roteiro)">Adicionar</button></td>
    </tr>
</table>

<h2>Roteiros</h2>
<ul *ngFor="let a of roteiros" name="roteirolist">
    <li>
        <h3>{{a.descricao}}</h3>
        <h4>Cadastrar roteiro na turma </h4>

        <h4>Blocos de questões</h4>
        <table>
            <tr *ngIf="a.blocos.length > 0">
                <th>Tipo</th>
                <th>Questões</th>
            </tr>
            <tr *ngFor="let b of a.blocos">
                <td>{{b.tipo}}</td>
                <td>
                    <ol *ngFor="let c of questoes">
                        <li>{{c.pergunta}}</li>
                    </ol>
                </td>
            </tr>
        </table>
    </li>
    <li><button (click)="deletarRoteiro(a)">Deletar</button></li>
</ul>