<!-- Botões para cadastrar, remover, atualizar e comparar turmas -->
<div id="botoes">
    <button (click)="adicionarTurma()" class="adc" >Adicionar</button>
    <button routerLink="/turmas"   class="adc mg-left" >Voltar</button>
</div>

<!-- Lista de turmas e suas médias -->
<table id="turmas">
        <tr>
            <th>Descrição</th>
            <th>Metas</th>
            <th>Matriculas</th>
            <th>Roteiro</th>
            <th>Monitores</th>
            <th>Quantidade Matriculas</th>
        </tr>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
        </tr>
    
</table>